<tool name="WinSys">  <version>5.0.0</version>  <date>2020-09-20</date>  <container>#.WinSys</container>  <needs>    <script development="true">APLTreeUtils2</script>    <script development="true">OS</script>    <script development="true">FilesAndDirs</script>    <script development="true">IniFiles</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>  </needs>  <autoload>1</autoload>  <buildid>13</buildid>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Interface to many of the Windows operating system tools</desc>  <tags>apltree;os-tools;windows</tags></tool>
