<tool name="WinSys">  <version>2.8.0</version>  <date>2019-06-04</date>  <container>#.WinSys</container>  <needs>    <script>APLTreeUtils</script>    <script>OS</script>    <script>FilesAndDirs</script>    <script development="true">Tester2</script>    <script>IniFiles</script>  </needs>  <autoload>1</autoload>  <buildid>6</buildid>  <scriptOnly>1</scriptOnly></tool>