<tool name="WinSys">  <version>4.0.0</version>  <date>2020-05-11</date>  <container>#.WinSys</container>  <needs>    <script>APLTreeUtils</script>    <script>OS</script>    <script>FilesAndDirs</script>    <script development="true">Tester2</script>    <script>IniFiles</script>  </needs>  <autoload>1</autoload>  <buildid>11</buildid>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Interface for many of the Windows operating system tools</desc>  <tags>Windows</tags>  <license>MIT</license></tool>